
/* tablet / laptop specification  */
@media only screen and (min-width: 768px) {
    
    .parent_container{
        border-radius: 2em;
    }

    .grid_container{
        grid-template-columns: 50% 50%;
        grid-template-rows: unset;
    }

    .grid2_container{
        border-top-right-radius: 2em;
        border-bottom-right-radius: 2em;
        border-bottom-left-radius: 4.56em;
        background-color: var(--Slate_900);
        padding: 0 2.18em 0 2.18em;
    }

}

/* laptop / larger screen specification  */
@media only screen and (min-width: 1200px) {
    .parent_container{
        border-radius: 1.8em;
    }

    .grid2_container{
        border-top-right-radius: 1.8em;
        border-bottom-right-radius: 1.8em;
        border-bottom-left-radius: 4.2em;
        background-color: var(--Slate_900);
        padding: 0 2.18em 0 2.18em;
    }

}
