<section>

    <div class="headerContainer">
        <p class="bold">Mortgage Calculator</p>
        <button class="btnClear" type="reset" (click)="btnClick()">Clear All</button>
    </div>

    <form class="formContainer" [formGroup]="formData" (ngSubmit)="onClickSubmit()">

        <!-- Top -->
        <p class="headerText">Mortgage Amount</p>

        <div class="inputContainer" [ngClass]="{'has-error': formData.controls['mortgageAmount'].invalid && formData.controls['mortgageAmount'].touched}">
            <div class="symbal" [ngClass]="{'has-error': formData.controls['mortgageAmount'].invalid && formData.controls['mortgageAmount'].touched}">&pound;</div>
            <input type="number" id="mortgageAmount" formControlName="mortgageAmount" placeholder="10.00" class="textbox"/>
        </div>
        <div *ngIf="formData?.get('mortgageAmount')?.invalid && formData?.get('mortgageAmount')?.touched"></div>
        <div *ngIf="formData.controls['mortgageAmount'].invalid && formData.controls['mortgageAmount'].touched" class="alert alert-danger first">
            <div *ngIf="formData.controls['mortgageAmount'].errors?.['required']">
                Mortgage Amount is required.
          </div>
        </div>

        <div class="sideContainer">

            <div class="leftside">
                <!-- middle -->
                <p class="headerText">Mortgage Term</p>

                <div class="inputContainer" [ngClass]="{'has-error': formData.controls['mortgageTerm'].invalid && formData.controls['mortgageTerm'].touched}">
                    <input type="number" id="mortgageTerm" formControlName="mortgageTerm" placeholder="5" class="textbox"/>
                    <div class="symbal" [ngClass]="{'has-error': formData.controls['mortgageTerm'].invalid && formData.controls['mortgageTerm'].touched}">years</div>
                </div>
                <div *ngIf="formData.controls['mortgageTerm'].invalid && formData.controls['mortgageTerm'].touched" class="alert alert-danger">
                    <div *ngIf="formData.controls['mortgageTerm'].errors?.['required']">
                        Mortgage Amount is required.
                  </div>
                </div>
            </div>

            <div class="rightside">
                <!-- bottom -->
                <p class="headerText">Interest Rate</p>

                <div class="inputContainer" [ngClass]="{'has-error': formData.controls['interestRate'].invalid && formData.controls['interestRate'].touched}">
                    <input type="number" id="interestRate" formControlName="interestRate" placeholder="3" class="textbox"/>
                    <div class="symbal" [ngClass]="{'has-error': formData.controls['interestRate'].invalid && formData.controls['interestRate'].touched}">%</div>
                </div>
                <div *ngIf="formData.controls['interestRate'].invalid && formData.controls['interestRate'].touched" class="alert alert-danger">
                    <div *ngIf="formData.controls['interestRate'].errors?.['required']">
                        Mortgage Amount is required.
                  </div>
                </div>
            </div>

        </div>

        <!-- radio button -->
        <p class="headerText">Mortgage Type</p>
        <label class="inputContainer btnRadio top" >
            <input class="inputStyle" id="Replayment" formControlName="radioBtn" type="radio" [value]="true"/>
            <span class="headerText" for="radioBtn">Replayment</span>
        </label>

        <label class="inputContainer btnRadio bottom">
            <input class="inputStyle" id="Interest" formControlName="radioBtn" type="radio" [value]="false"/>
            <span class="headerText" for="radioBtn">Interest Only</span>
        </label>

        <button class="btnSubmit" type="submit">
            <img src="./images/icon-calculator.svg" alt="calculator"/> Calculate Repayments
        </button>

    </form>

    

</section>
