
@media only screen and (max-width: 915px) and (orientation: landscape){
    
    .alert-danger{
        font-size: 1.5vw;
    }
    
    .first{
        margin-top: -3vw;
    }

    .headerContainer{
        row-gap: 2vh;
    }

    .bold{
        font-size: 4.5vw;
    }

    .btnClear{
        font-size: 2.8vw;
    }

    .formContainer{
        row-gap: 5vh;
    }

    .headerText{
        font-size: 3.2vw;
        margin-top: 3vh;
    }

    .inputContainer{
        height: 18vh;
        align-items: center;
    }
    
    .leftside, .rightside{
        row-gap: 2.5vw;
    }

    .symbal{
        font-size: 3vw;
    }

    .textbox{
        font-size: 3vw;
    }

    .inputContainer:nth-child(2) .symbal{
        width: 10%;
    }

    .inputContainer:nth-child(2) .textbox{
        width: calc(100% - 10%);
    }

    .leftside .inputContainer .symbal{
        width: 17%;
    }
    
    .leftside .inputContainer .textbox{
        width: calc(100% - 17%);
    }

    .rightside .inputContainer .symbal{
        width: 14%;
    }
    
    .rightside .inputContainer .textbox{
        width: calc(100% - 14%);
    }

    .btnRadio{
        padding: 2vh 0;
        column-gap: 1vw;
        height: 13vh;
    
    }

    .inputStyle{
        height: 6vh;
        width: 6vw;
        margin-left: 2vw;
    }

    .top .headerText, .bottom .headerText{
        font-size: 3vw;
    }

    .btnSubmit{
        padding: 3vh 0;
        font-size: 3.5vw;
        border-top-left-radius: 6vw;
        border-bottom-left-radius: 6vw;
        border-top-right-radius: 6vw;
        border-bottom-right-radius: 6vw;
        margin-top: 3vh;
    }
}