
@media only screen and (orientation: landscape) and (max-width: 915px){
    
    .parent_container{
        height: fit-content;
        width: fit-content;
    }

    .grid_container{
        grid-template-rows: auto auto;
    }
    
}