
@font-face {
    font-family: 'PlusJakartaSans';
    src: url('../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'PlusJakartaSans_Italic';
    src: url('../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf');
}

.container, .subcontainer{
    display: flex;
    flex-direction: column;
    row-gap: 3vw;
    justify-content: center;
    align-items: center;
    color: var(--White);
}

.image{
    display: flex;
    width: 38.8vw;
}

.header{
    margin: 0;
    font-size: 5.8vw;
    font-family: 'PlusJakartaSans';
}


.paragraph{
    font-size: 4vw;
    font-family: 'PlusJakartaSans';
    color: var(--Slate_300);
    text-align: center;
    margin: 0;
}

.costContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 3vw;
    border-radius: 2vw;
    background-color: #0e2431;
    border-top: 1vw solid var(--Lime);
    width: calc(100% - 10vw);
    padding: 4vw 5vw;
}

.costContainer .paragraph:nth-child(2){
    color: var(--Lime);
}

.costContainer .paragraph:nth-child(2), .costContainer .paragraph:nth-child(5){
   font-size: 6.5vw;
}

.costContainer .paragraph:nth-child(1), .costContainer .paragraph:nth-child(4){
    font-size: 3.5vw;
}


