
@media only screen and (min-width: 1200px) and (orientation: landscape){
    
    .image{
        width: 11.5vw;
    }

    .header{
        font-size: 1.8vw;
    }
    
    .paragraph{
        font-size: 1.2vw;
    } 

    .costContainer{
        row-gap: 1vw;
        border-radius: 0.6vw;
        background-color: #0e2431;
        border-top: 0.2vw solid var(--Lime);
        width: calc(100% - 4vw);
        padding: 1.2vw 2vw;
    }
    
    .costContainer .paragraph:nth-child(2){
        color: var(--Lime);
    }

    .costContainer .paragraph:nth-child(2), .costContainer .paragraph:nth-child(5){
        font-size: 2.5vw;
    } 
    
    .costContainer .paragraph:nth-child(1), .costContainer .paragraph:nth-child(4){
        font-size: 1.1vw;
    }
}