
@media only screen and (min-width: 1200px) and (orientation: landscape){
    
    .image{
        width: 11.5vw;
    }

    .header{
        font-size: 1.5vw;
    }
    
    .paragraph{
        font-size: 1.1vw;
    } 
}