
@media only screen and (min-width: 950px) and (orientation: landscape){
    
    img{
        width: 12.5vw;
    }

    h1{
        font-size: 1.7vw;
    }
    
    .paragraph{
        font-size: 1.1vw;
    } 
}